.OuterProfileBody {
    width: 100%;
    background: linear-gradient(45deg, #29293a 0%, #020203 100%);
    border-radius: 10px;
    box-shadow: 10px 10px 8px #272727;
}


.marginTopDetails {
    margin-top: 50px;
}


